<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> - KomikCast</title>
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="preload" as="image" href="/cropped-logo-kc-180x180.png">
<link rel="apple-touch-icon" sizes="any" href="/cropped-logo-kc-180x180.png">
<link rel="icon" type="image/png" sizes="any" href="/cropped-logo-kc-180x180.png">
<style> body { font-family: 'Poppins', sans-serif; } </style>